<h1>
  Explore leagues!
  <span class="pull-right">
    <%= link_to "New League", new_league_path, class: 'btn btn-lg btn-primary' %>
  </span>
</h1>
<div class="row">
  <% @leagues.each do |league| %>
    <div class="col-sm-6 col-md-3 col-lg-2">
      <div class="thumbnail">
        <% if league.logo.nil? or league.logo == "" %>
          <%= link_to image_tag("default_league.jpg", width: 100), league %>
        <% else %>
          <%= link_to image_tag(league.logo, width: 100), league %>
        <% end %>
        <div class="caption">
          <h3>
            <%= link_to league.name, league %>
            <span class="pull-right">
              <%= link_to "Edit", edit_league_path(league), class: 'btn btn-xs btn-success' %>
            </span>
          </h3>
        </div>
      </div>
    </div>
  <% end %>
</div>