<h1 class="title">
  <%= @league.name %>
  <span class="pull-right">
    <%= link_to "Add Players to League", edit_league_path(@league), class: 'btn btn-sm btn-success' %>
    <%= link_to "Edit League", edit_league_path(@league), class: 'btn btn-sm btn-success' %>
  </span>
</h1>

<h2>Leaderboard:</h2>
<div class="container-fluid">
  <div class="row">
    <% @playerleagues.each do |playerleague| %>
      <div class="col-xs-3 col-md-3">
          <h3><%= playerleague.player.name, player_path(playerleague.player) %>: </br><u><%= playerleague.league_points %> points</u></h3>
          <p><strong>Handicap Index:</strong> <%= playerleague.player.handicap_index %></p>
      </div>
    <% end %>
  </div>
</div>