<h1>
  Rounds Played:
  <span class="pull-right">
    <%= link_to "New Round", new_round_path, class: 'btn btn-md btn-primary' %>
  </span>
</h1>
<div class="row">
  <% @rounds.each do |round| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h4>
            <%= link_to round.course.name + " " + round.date.to_s, round %>
            <span class="pull-right">
              <%= link_to "Edit", edit_round_path(round), class: 'btn btn-xs btn-success' %>
              <%= link_to "Delete", round_path(round), method: :delete, data: { confirm: 'Are you  sure?' }, class: 'btn btn-xs btn-danger' %>
            </span>
          </h4>
          <p><strong>Player:</strong> <%= round.player.name %></p>
          <p><strong>Course Handicap:</strong> <%= round.course_handicap %></p>
          <p><strong>Strokes Given:</strong> <%= round.strokes_earned %></p>
          <p><strong>Score (Gross):</strong> <%= round.score_gross %></p>
          <p><strong>Score (Net):</strong> <%= round.score_net %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>