<% if @course.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this course from being saved:</h2>
    <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @course do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :logo, "Logo (enter the filename)" %>
    <%= form.text_field :logo, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :slope %>
    <%= form.text_field :slope, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :rating %>
    <%= form.text_field :rating, class: "form-control" %>
  </div>
  <%= form.button 'Modify Course', class: "btn btn-success" %>
<% end %>